body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffc362;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1em, 0.7em, 0.2em;
    grid-template-areas: 
    
        "header"
        "main"
        "footer"
    ;
    justify-content: center;
}

header {
    background-color: #111;
    color: #ffa500;
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

img[alt="yellow R"] {
    width: 30px;
    height: 30px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-inline: 10px;
}

#logo {
    width: 20%;
    /* padding: 10px 0 0; */
    margin-top: 15px;
}

#replay-logo {
    font-size: 0.8em;
    display: inline-block;
}

header > h2 {
    text-transform: uppercase;
}

nav {
    margin-top: 10px;
}

/* body of the html doc */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}

#playlist-block {
    background: linear-gradient(180deg, #69555c, #ffc362);
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 0.15fr 1fr 1fr 1fr 0.15fr;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 10px;
}


form {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: right;
    width: 90%;
    color: #666;
    background: #f2f2f2;
    margin-top: 80px;
}

#headline {
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: center;
}

#box-upload {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 90px;
}

img[alt="dscvr playlist"] {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
}

img[alt="#endsars playlist"] {
    grid-column: 3/4;
    grid-row: 3/4;
    align-self: center;
}

img[alt="liberated playlist"] {
    grid-column: 4/5;
    grid-row: 3/4;
    align-self: center;
}

#explore {
    grid-column: 3/4;
    grid-row: 5/6;
    justify-self: center;
    text-decoration: none;
    background-color: #111;
    color: #ffa500;
    padding: 10px;
    margin-top: 30px;
}

input {
    background: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    border-style: none;
    letter-spacing: 2px;
    float: left;
    width: 90%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

#search-button {
    float: left;
    width: 10%;
    padding: 10px;
    color: #666;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    -webkit-appearance: button;
    border-style: none;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

form::after {
    content: "";
    clear: both;
    display: table;
}   

#upload {
    text-decoration: none;
    background-color: #111; 
    color: #ffa500;
    padding: 10px;
    margin-left: 5px;
}

#lower-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


@media screen and (min-width: 768px) {
    #playlist-block {
        background: linear-gradient(180deg, #69555c, #ffc362);
        display: grid;
        width: 100%;
        box-sizing: border-box;
        grid-template-columns: 0.15fr 1fr 1fr 1fr 0.15fr;
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 10px;
    }
}